<!-- templates/journal_entries.html -->

{% extends "base.html" %}

{% block content %}
<section class="hero is-large"  >
    <div class="hero-body" style="background-image: url(https://mood-diary-fullstack.s3-ap-southeast-2.amazonaws.com/psych-1.jpg); width:100%; height: 400px; margin:auto; background-size: cover; opacity: 0.8; background-position: center center; background-repeat: no-repeat;" >
  
      <p class="title is-size-1 has-text-weight-bold" style="transform:translateY(-50%); top: 50%;">
        My Journal
      </p>
    </div>
  </section>

<div class="has-text-justified">
    <p>
    Thoughts, emotions and behaviours are all intertwined whereby negative thoughts can trigger negative behaviours. A more holistic approach is usually implemented by tracking these three areas i.e. negative thoughts, general mood ratings and problem behaviours.
    </p>
    <br>
    <p>
    Tracking mood, thoughts and behaviours has been shown to increase insight, motivation and willingness to change. Skills are designed at the individual level to replace the negative moods, thoughts and behaviours. 
    </p>
    <br>
    </div>
<form method="POST" action="/journal/new_entry">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="field">
        <div class="control">
            <textarea class="textarea" name="journal_entry" placeholder="Add journal entry"></textarea>
        </div>
    </div>
    <button class="button is-block is-info is-large">Add entry</button>
</form>


<form action="{{  url_for('journal.query_journal') }}"  method="GET">
    <label for="entry">Select the Date to see all entries of that day:</label>
    <input type="date" id="entry" name="entry">
    <br>
    <div class="buttons is-centered">
    <input class="button is-info is-small box has-text-centered" type="submit" value="Submit">
    </div>
  </form>

<br>
{% for journal_entry in journal_entries %}
<div class="box">
<div class="columns has-text-left">
    <div class="column has-text-link">
        <a href="{{  url_for('journal.get_journal_entry', journal_id=journal_entry.id) }}">
            {{ journal_entry.journal_entry }}
        </a>
    </div>
    <div class="column">
             Date of entry:
             {{ journal_entry.journal_date.strftime('%d-%m-%Y') }}
        </div>
        <div class="column">
            Time of entry:
            {{ journal_entry.journal_date.strftime('%H:%m  %p') }}
       </div>
    <div class="column">
        <form action="{{ url_for('journal.delete_journal_entry', journal_id=journal_entry.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="button is-block is-info is-small box has-text-centered" type=submit value=Delete>
        </form>
    </div>
  </div>
</div>
{% else %}
<br>
<div class="mgt-medium">
<div class="notification is-danger">
    <p>No entries recorded</p>
</div>
</div>
  {% endfor %}


{% endblock %}


