<!-- templates/journal_entries.html -->

{% extends "base.html" %}

{% block content %}

<h1  class="title is-1 is-spaced"> List of all {{ name }}'s journal entries</h1>

    {% for journal_entry in journal_entries %}
        <div >
            {% if journal_entry %}
                <ul>
                    {{ journal_entry.journal_entry }}
                    Date of entry:
                    {{ journal_entry.journal_date.strftime('%d-%m-%Y') }}
                    <div class="buttons is-centered">
                    <form action="{{ url_for('journal.delete_journal_entry', journal_id=journal_entry.id) }}" method=post>
                    <input class="button is-block is-info is-medium box has-text-centered" type=submit value=Delete>
                    </form>
                    </div>
                </ul>
            {% else %}
                <p> No entries </p>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

