<!-- templates/journal_entry.html -->

{% extends "base.html" %}

{% block content %}


<div class="box">
<div class="columns">
    <div class="column" action="{{ url_for('journal.get_journal_entry', journal_id=journal_entry.id) }}" method="GET">
        {{ journal_entry.journal_entry }}
    </div>
    <div class="column">
             Date of entry:
             {{ journal_entry.journal_date.strftime('%d-%m-%Y') }}
        </div>
    <div class="column">
        <form action="{{ url_for('journal.update_single_journal_entry', journal_id=journal_entry.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="input" type="text" name="journal_entry" value="{{ journal_entry.journal_entry }}">
                    <button class="button is-block is-info is-medium">Edit entry</button>
        </form>
    </div>
    <div class="column">
        <form action="{{ url_for('journal.delete_journal_entry', journal_id=journal_entry.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="button is-block is-info is-medium box has-text-centered" type=submit value=Delete>
        </form>
    </div>
  </div>
</div>


{% endblock %}



