<!-- templates/problem_area_entry.html -->

{% extends "base.html" %}

{% block content %}


<div class="box">
<div class="columns">
    <div class="column" action="{{ url_for('problem_area.get_problem_area_entry', problem_area_id=problem_area_entry.id) }}" method="GET">
        {{ problem_area_entry.problem_area_entry }}
    </div>
    <div class="column">
             Date of entry:
             {{ problem_area_entry.journal_date.strftime('%d-%m-%Y') }}
        </div>
    <div class="column">
        <form action="{{ url_for('problem_area.update_single_problem_area_entry', problem_area_id=problem_area_entry.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="input" type="text" name="problem_area_entry" value="{{ problem_area_entry.problem_area_entry }}">
                    <button class="button is-block is-info is-medium">Edit entry</button>
        </form>
    </div>
    <div class="column">
        <form action="{{ url_for('problem_area.delete_problem_area_entry', problem_area_id=problem_area_entry.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="button is-block is-info is-medium box has-text-centered" type=submit value=Delete>
        </form>
    </div>
  </div>
</div>


{% endblock %}



