<!-- templates/skill_entries.html -->

{% extends "base.html" %}

{% block content %}


  <section class="hero is-large has-text-centered is-justify-content-center" style="background-image: url(/static/images/psych-1.jpg); width:100%; height:100%; text-align:center; margin:auto; padding:0; background-size: cover; opacity: 0.6; background-position: center center; background-repeat: no-repeat;" >
    <div class="hero-body has-text-centered is-align-items-center" >
  
      <p class="title is-size-1 has-text-centered has-text-weight-bold is-justify-content-center">
        Skills
      </p>
    </div>
  </section>
  <!-- <img src="{{ url_for('static', filename = 'images/psych-1.jpg') }}" alt=""> -->
<div class="has-text-justified">
<p>
Thoughts, emotions and behaviours are all intertwined whereby negative thoughts can trigger negative behaviours. A more holistic approach is usually implemented by tracking these three areas i.e. negative thoughts, general mood ratings and problem behaviours.
</p>
<br>
<p>
Tracking mood, thoughts and behaviours has been shown to increase insight, motivation and willingness to change. Skills are designed at the individual level to replace the negative moods, thoughts and behaviours. 
</p>
<br>
</div>
<form method="POST" action="/skill/new_entry">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="field">
        <div class="control">
            <textarea class="textarea" name="skill_entry" placeholder="Add skill entry"></textarea>
        </div>
    </div>
    <button class="button is-block is-info is-large">Add entry</button>
</form>


{% for skill_entry in skill_entries %}
<div class="box">
<div class="columns has-text-left">
    <div class="column has-text-link">
        <a href="{{  url_for('skill.get_skill_entry', skill_id=skill_entry.id) }}">
            {{ skill_entry.skill_entry }}
        </a>
    </div>
    <div class="column">
             Date of entry:
             {{ skill_entry.skill_date.strftime('%d-%m-%Y') }}
        </div>
        <div class="column">
            Time of entry:
            {{ skill_entry.skill_date.strftime('%H:%m  %p') }}
       </div>
    <div class="column">
        <form action="{{ url_for('skill.delete_skill_entry', skill_id=skill_entry.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="button is-block is-info is-medium box has-text-centered" type=submit value=Delete>
        </form>
    </div>
  </div>
</div>
{% else %}
<br>
<div class="mgt-medium">
<div class="notification is-danger">
    <p>No problem areas recorded</p>
</div>
</div>
  {% endfor %}


{% endblock %}


